PORT=3333
DATABASE_URL="mysql://quadrafacil:quadrafacil@localhost:3306/quadrafacil"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="quadrafacil"
DATABASE_PASSWORD="quadrafacil"
DATABASE_NAME="quadrafacil"
JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"
